/*----------------------*/
/*                      */
/*   General  Styles    */
/*                      */
/*----------------------*/

:root {
  --background: #EAF4FE;
  --alternate-background: #EEF8FF;
  --font-color: #0571B9;
  --alternate-font: #508BA9;
  --font: "Source Sans 3", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--font-color);
}

body {
  background-color: var(--background);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

/*----------------------*/
/*                      */
/*   Home Page          */
/*                      */
/*----------------------*/



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  padding: 20px 0;
  border-bottom: 2px solid var(--alternate-background);
  background-color: #fff;
}

footer {
  padding: 20px 0;
  margin-top: auto;
  border-top: 2px solid var(--alternate-background);
  background-color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  width: 100%;
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color);
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--alternate-font);
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid var(--font-color);
}








/*----------------------*/
/*                      */
/*   Product Page       */
/*                      */
/*----------------------*/






/*----------------------*/
/*                      */
/*   Cart Page          */
/*                      */
/*----------------------*/





/*----------------------*/
/*                      */
/*   NotFound Page      */
/*                      */
/*----------------------*/