/*----------------------*/
/*                      */
/*   General  Styles    */
/*                      */
/*----------------------*/

:root {
  --background: #EAF4FE;
  --alternate-background: #EEF8FF;
  --font-color: #000;
  --alternate-font: #508BA9;
  --font: "Source Sans 3", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--font-color);
}

body {
  background-color: var(--background);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

section {
  margin-top: 30px;
}



/*----------------------*/
/*                      */
/*   Home Page          */
/*                      */
/*----------------------*/



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  padding: 20px 0;
  border-bottom: 2px solid var(--alternate-background);
  background-color: #fff;
}

footer {
  padding: 20px 0;
  margin-top: auto;
  border-top: 2px solid var(--alternate-background);
  background-color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  width: 100%;
  text-align: center;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color);
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--alternate-font);
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid var(--font-color);
}

/* ----------------------------------*/
/* ---------  Hero Banner  --------- */
/* ----------------------------------*/

.hero-banner {
  width: 100vw;
  margin-left: calc(50% - 50vw);                   
  margin-right: calc(50% - 50vw);                    
  min-height: 90vh;         
  background: url("../images/Hero-Banner-Store.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0;
}

.hero-content {
  max-width: 600px;
  color: var(--font-color);;
  z-index: 1;
  position: relative;
  left: 5%;
  top: 20%;
  text-align: left;
  text-shadow: 
    1px 1px 2px rgba(255, 255, 255, 0.8),
    -1px -1px 2px rgba(255, 255, 255, 0.8);

}

.eyebrow {
  letter-spacing: 2px;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.headline {
  font-size: clamp(2rem, 6vw, 4.5rem);
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 20px;
}

.subhead {
  font-size: 2.4rem;
  margin-bottom: 32px;
}

.btn-primary {
  display: inline-block;
  padding: 14px 36px;
  border: 2px solid #fff;
  color: var(--font-color);;
  background: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 5px;
}

.btn-primary:hover {
  background: transparent;
  color: #fff;
}

.hero-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.5), transparent);
  z-index: 0;
}

/* -------------------------------*/
/* ---- why shop with us          */
/*--------------------------------*/

.why-us-section {
  padding: 50px 20px;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  max-width: 860px;
  margin-inline: auto;
}

.feature-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 30px 25px;
  width: 260px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 20px;
  display: block;
}

.feature-card h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--font-color);
  color: #111;
}

.feature-card p {
  font-size: 1.5rem;
  color: #333;
}

.feature-card:nth-child(1) {
  background: url("../images/Blue-Background.png") center / cover no-repeat;
}

.feature-card:nth-child(2) {
  background: url("../images/Green-Background.png") center / cover no-repeat;
}

.feature-card:nth-child(3) {
  background: url("../images/Orange-Background.png") center / cover no-repeat;
}

.feature-card:nth-child(4) {
  background: url("../images/Purple-Background.png") center / cover no-repeat;
}


/* ----------------------*/
/*       ABOUT US        */
/*-----------------------*/


.about-us-section {
  padding: 80px 20px;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  margin-top: -40px;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--alternate-font);
}

.about-description {
  font-size: 2rem;
  color: #333;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
}


/*----------------------*/
/*                      */
/*   Product Page       */
/*                      */
/*----------------------*/

.product-pic {
  flex: 0 0 calc(55% - 20px);
  max-width: calc(55% - 20px);
  background-color: #fff;
  height: 500px;
  object-fit: contain;
}

.product-info {
  flex: 0 0 calc(45% - 20px);
  max-width: calc(45% - 20px);
  height: 200px;

  h2, p, button {
    margin-top: 30px;
  }
}

.similar-products ul {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    
    img {
      height: 250px;
    }
  }

}

/*----------------------*/
/*                      */
/*   Cart Page          */
/*                      */
/*----------------------*/





/*----------------------*/
/*                      */
/*   NotFound Page      */
/*                      */
/*----------------------*/